@import "main";
@import "base";
@import "layout";
@import "syntax-highlighting";
@import "bootstrap";

body {
  padding-bottom: 30px;
}

a.brand {
  color: "#428bca";
  text-decoration: none;
}

a.brand:visited {
  color: "#428bca";
  text-decoration: none;
}

a.brand:hover {
  color: "#428bca";
  text-decoration: none;
}